#content .container > ul.Inputfields {
    position: relative;
    top: -2px;
}

.AdminDataTable tr td:nth-child(1),
.AdminDataTable tr td:nth-child(2) {
    width: 30%;
    word-break: break-all;
}

.AdminDataTable tr a.action,
.AdminDataTable tr span {
    display: inline-block;
    margin: 0 0.25em;
    width: 14px;
}

.AdminDataTable tr a.action {
    opacity: 0.25;
}

.AdminDataTable tr small {
    opacity: 0.75;
}

.AdminDataTable tr:hover a.action {
    opacity: 1;
}

.AdminDataTable tr td:last-child {
    text-align: center;
    width: 4em;
}

.content p.description {
    margin: 1em 0 0.5em 0;
}

.status {
    border-radius: 3px;
    text-align: center;
    font-size: 0.8em;
    padding: 0 0.5em;
    cursor: help;
    color: #fff;
}

.status-none {
    color: #222;
    background: #DDDDDD;
}

.status-unknown {
    color: #eee;
    background: #000;
}

.status-5xx {
    background: red;
}

.status-4xx {
    background: red;
}

.status-3xx {
    background: orange;
}

.status-2xx {
    background: green;
}

.status-1xx {
    background: gray;
}

.AdminDataTable tr .status span {
    width: 100%;
    margin: 0;
}

button[name=check-now] {
    margin: 1em 0 0 0
}

.link-crawler-container,
.link-crawler-output {
    border: 0;
    width: 100%;
    color: #333;
    background: #fff;
    max-height: 600px;
    transition: height 0.5s ease-in-out;
}

.link-crawler-container,
.link-crawler-container #title {
    display: none;
}

.link-crawler-container.loading {
    height: 3em;
    display: block;
    background: url('./loading.gif') 0 0 no-repeat transparent;
}

.link-crawler-container.ready {
    height: 600px;
    display: block;
    border: 1px solid #eee;
}

.help {
    box-sizing: border-box;
    border: 1px solid #BEBBA7;
    border-radius: 3px;
    background: #FFF9E1;
    position: relative;
    font-size: 12px;
    width: 38px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
    padding: 0 0 0 38px;
}

.help:hover {
    opacity: 0.8;
}

.help.open,
.help.open:hover {
    opacity: 1;
    width: auto;
    height: auto;
    padding: 1em 1em 1em 3em;
}

.help:before {
    font-family: FontAwesome;
    position: absolute;
    line-height: 18px;
    font-size: 18px;
    content: '\f059';
    color: #555;
    left: 11px;
    top: 11px;
}

#link-checker-dashboard .data td,
#link-checker-dashboard .data th {
    padding: 5px 8px;
    border: 1px solid #ddd;
}

#link-checker-dashboard .data th.header {
    width: 60px;
    color: #333;
    cursor: pointer;
    background: #eee;
    white-space: nowrap;
}

#link-checker-dashboard .data th.header:before,
#link-checker-dashboard .data th.header:before {
    transition: width 0.2s;
    font-family: FontAwesome;
    display: inline-block;
    overflow: hidden;
    content: '\f077';
    float: left;
    color: #888;
    width: 0;
}

#link-checker-dashboard .data th.header.headerSortUp:before,
#link-checker-dashboard .data th.header.headerSortDown:before {
    width: 1.25em;
}

#link-checker-dashboard .data th.header.headerSortDown:before {
    content: '\f078';
}

#link-checker-dashboard .data td:nth-child(2) {
    border: 1px solid #d0d0d0;
    background: #f9f9f9;
}

#link-checker-dashboard .data tr:first-of-type th:nth-child(2) {
    border: 1px solid #d2d2d2;
    background: #e5e5e5;
}

#link-checker-dashboard .data th i {
    cursor: help;
}

.data {
    min-width: 275px;
}

.plot {
    clear: left;
}

.data,
.plot {
    width: 100%;
    float: left;
    margin-top: 1em;
}

.plot {
    min-height: 365px;
}

@media screen and (min-width: 1260px) {
    #status-breakdown .data,
    #status-breakdown .plot {
        width: 50%;
        clear: none;
    }
}

.item {
    float: left;
    color: #fff;
    width: 22.5%;
    background: #fff;
    line-height: 20px;
    border-radius: 3px;
    margin: 1em 3.33% 0 0;
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 1.45em 1.15em 1em 1.15em;
}

.item:nth-child(4) {
    float: right;
    margin-right: 0;
}

@media screen and (max-width: 1060px) {
    .item {
        width: 47.5%;
    }
    .item:nth-child(3) {
        float: right;
        margin-right: 0;
    }
}

@media screen and (max-width: 640px) {
    .item {
        width: 100%;
        float: none !important;
    }
}

.item.unique-links {
    background: #81BF40;
}

.item.checked-links {
    background: #73A158;
}

.item.total-pages {
    background: #2FB2EC;
}

.item.checked-pages {
    background: #309BCA;
}

.item strong {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    font-weight: bold;
    font-size: 24px;
    display: block;
}

.item small {
    opacity: 0.8;
    font-size: 10px;
}

#status-breakdown .data tr td:first-of-type {
    cursor: help;
}

#status-breakdown .data tr td span {
    display: inline-block;
    border-radius: 2px;
    position: relative;
    margin: 0 0.25em -3px 0;
    height: 1.25em;
    width: 1.25em;
}

#status-breakdown .data tr.cnone td span {
    background: #DDDDDD;
}

#status-breakdown .data tr.cunknown td span {
    background: #000000;
}

#status-breakdown .data tr.c1xx td span {
    background: #D2E4EA;
}

#status-breakdown .data tr.c2xx td span {
    background: #81bf40;
}

#status-breakdown .data tr.c3xx td span {
    background: #FFA500;
}

#status-breakdown .data tr.c4xx td span {
    background: #FF0000;
}

#status-breakdown .data tr.c5xx td span {
    background: #C20202;
}